.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner>.banner_box {
    width: 400%;
}
.banner>.banner_box>li {
    width: 25%;
    float: left;
}
.banner>.banner_box>li a {
    width: 100%;
}
.banner>.banner_box>li img {
    width: 100%;
}
.banner ol {
    width: 18%;
    position: absolute;
    left: 44%;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.banner>ol>li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    float: left;
}
.banner>ol>li.on {
    background: #999;
}
.banner nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 2.25rem;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 999;
}
.banner nav input {
    width: 13.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    background: #fff;
}
.banner nav div:nth-of-type(1) {
    width: 2.7rem;
}
.banner nav div:nth-of-type(1) img {
    width: 100%;
}
.banner nav div:nth-of-type(3) {
    width: 2.2rem;
    text-align: center;
    i {
        font-size: 1.2rem;
        color: #fff;
    }
    img {
        width: 90%;
    }
    p {
        font-size: 0.8rem;
        color: #fff;
    }
}
.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
        width: 25%;
        text-align: center;
        margin-top: 1rem;
        img {
            width: 2.25rem;
        }
        p {
            font-size: 0.7rem;
            line-height: 1.3rem;
        }
    }
    .posi {
        position: relative;
        div {
            width: 2.25rem;
            height: 1rem;
            position: absolute;
            top: 0;
            right: 0.5rem;
            background: orange;
            text-align: center;
            color: #fff;
            font-size: 0.7rem;
            border-radius: 5px;
        }
    }
}
.mian {
    width: 100%;
    display: flex;
    margin-top: 0.4rem;
    border-bottom: 1px solid #f0f0f0;
    >div {
        width: calc(100%/3);
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-right: 1px solid #f0f0f0;
        img {
            width: 4.2rem;
            height: 3.4rem;
        }
    }
    >div:nth-of-type(3) {
        border: none;
    }
}
.mian1 {
    width: 100%;
    display: flex;
    margin-top: 0.4rem;
    border-bottom: 1px solid #f0f0f0;
    >div {
        width: 50%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-right: 1px solid #f0f0f0;
        img {
            width: 7.85rem;
            height: 3.45rem;
        }
        p {
            font-size: 0.6rem;
            color: #666;
        }
    }
    >div:nth-of-type(2) {
        border: none;
    }
}
.mian_foot {
    display: flex;
    padding-top: 1rem;
    .mian_l {
        width: 12rem;
        text-align: center;
        img {
            width: 10.9rem;
        }
    }
    ul {
        height: 7.35rem;
        overflow: hidden;
        li {
            display: flex;
            div {
                margin-right: 0.2rem;
                img {
                    width: 2rem;
                    height: 2rem;
                }
                p {
                    font-size: 0.6rem;
                    color: #666;
                }
                span {
                    font-size: 0.5rem;
                    color: #999;
                }
            }
        }
    }
}
    .con_header{
        display: flex;
        justify-content: space-between;
       
        div{
            width: 5rem;
            height: 2rem;
            display: flex;
            align-items: center;
            i{
                display: inline-block;
                background:#ff9804 ;
                width: 0.25rem;
                height: 2rem;
            }
            span{
                display: inline-block;
                color: #ff9804;
                padding-left:0.2rem ;
                font-size: 0.8rem;
                
                 height: 2rem;
                line-height: 2rem;
            }
        }
        >p{
           
            width: 2.5rem;
            height: 2rem;
            line-height: 1rem;
        }
    }
    
.container{
    li{
        padding:0.6rem;
        display: flex;
        border-top: 1px solid #f0f0f0;
        .left{
       margin-right: 0.4rem;
       img{
           width: 4.2rem;
       }
    }
    .right{
        width: 15.7rem;
        line-height: 1.2rem;
        
        h3{
            color: #333;
            font-size: 0.7rem;
        }
        >span{
            color: #999;
            font-size: 0.6rem;
            
        }
        >p{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 0.6rem;
            span:nth-of-type(1){
                display: inline-block;
                color: #ff4351;
            }
            span:nth-of-type(2){
                color: #999;
                display: inline-block;
                
            }
         }
    }
    }
    
}
footer{
    width: 100%;
    height: 2.85rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    ul{
        display: flex;
        li{
            width: 20%;
            text-align: center;
            padding:0.5rem 0;
            i{
                font-size:1.2rem !important;
                color: #999;
            }
            p{
                color: #333;
                font-size: 0.6rem;
            }
        }
    }
}
